# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/

# Local database files
*.duckdb
*.duckdb.wal
*.db

# Raw / large data files
data/raw/
data/processed/


# Power BI local files
*.pbix
*.pbit

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log